<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- Include the depthai camera macro-->
    <xacro:include filename="$(find depthai_descriptions)/urdf/include/depthai_macro.urdf.xacro"/>

    <!-- Instantiate the depthai camera macro-->
    <xacro:depthai_camera
        camera_name="oak"
        camera_model="OAK-D-PRO"
        base_frame="oak_base_link"
        parent="turret_link"
        cam_pos_x="0.457"
        cam_pos_y="0.08"
        cam_pos_z="0.308"
        cam_roll="0.0"
        cam_pitch="0.0"
        cam_yaw="0.463647609"
        />
</robot>