<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="os-dome">


    <xacro:property name="os_sensor_mount_link" value="os_sensor_mount" />
    <xacro:property name="lidar_base_length" value="0.11" />

    <!-- Ouster ros driver publishes its own os_sensor, os_lidar and os_imu_links
         We publish os_sensor_mount here which will be connected to driver's os_sensor via static transform -->
    <link name="${os_sensor_mount_link}">
    <visual name="base_visual">
        <origin xyz="0 0 0" rpy="1.57 0 1.57" />
        <geometry>
            <mesh filename="package://robo_drill/robo_drill_description/meshes/dome.STL" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="dark_grey">
            <color rgba="0.5 0.5 0.5 1.0"/>
        </material>
    </visual>
    <collision name="base_collision">
        <origin xyz="0 0 0" rpy="1.57 0 1.57" />
        <geometry>
            <mesh filename="package://robo_drill/robo_drill_description/meshes/dome.STL" scale="0.001 0.001 0.001"/>
        </geometry>
    </collision>
    </link>
    <joint name="${os_sensor_mount_link}_joint" type="fixed">
        <parent link="turret_link" />
        <child link="${os_sensor_mount_link}" />
        <origin xyz="0.4345 0 0.4525" rpy="${M_PI} -1.5708 0" />
    </joint>
</robot>
