<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- This file includes the pokeye_base.urdf and adds a lidar support link -->
    
    <!-- Include the complete pokeye base URDF -->
    <xacro:include filename="$(find robo_drill)/robo_drill_description/description/pokeye_base.urdf"/>
    

</robot>
