<?xml version="1.0"?>
<robot name="robo_drill" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Define any constants here    -->
    <xacro:property name="M_PI" value="3.1415926535897931"/>

    <!-- Get arguments from launch file    -->
    <xacro:arg name="use_mock_hardware" default="true"/>
    <xacro:arg name="simulation" default="false"/>
    <xacro:arg name="ethercat_interface" default="eno1"/>
    <xacro:arg name="ros_domain_id" default=" "/>
    <xacro:arg name="base_only" default="false"/>
    <xacro:arg name="simulation_controllers" default="$(find robo_drill)/config/diffdrive_controllers.yaml"/>

    <!-- Define any properties, couldn't find  a way to directly evaluate on the passed argument and had to go through a property for each arg passed-->
    <xacro:property name="robot_id" value="$(arg ros_domain_id)"/>

    <xacro:include filename="robo_drill_colors.xacro"/>
    <xacro:include filename="robo_drill_inertias.xacro"/>

    <xacro:include filename="pokeye_base_links.xacro"/>
    <xacro:include filename="sick_multiscan.xacro"/>
    <xacro:include filename="realsense_camera.xacro"/>
    <!-- <xacro:include filename="oak_camera.xacro"/> -->


    <!-- Front-right Sick lidar -->
    <!-- Parented directly to turret_link; origin composed from the previous
         mount pose so the physical lidar placement is unchanged. -->
    <xacro:sick_multiscan_sensor
        parent_link="turret_link"
        namespace="front"
        sick_link="front_sick_scan"
        sick_scan_link="front_sick"
        sick_imu_link="front_sick_imu"
        origin_xyz="0.3535 -0.2430 0.4505"
        origin_rpy="-0.3457 -0.0696 -2.5121"
    />

    <!-- Sick lidar at back-left of robot -->
    <!-- Parented directly to turret_link; origin composed from the previous
         mount pose so the physical lidar placement is unchanged. -->
    <xacro:sick_multiscan_sensor
        parent_link="turret_link"
        namespace="rear"
        sick_link="rear_sick_scan"
        sick_scan_link="rear_sick"
        sick_imu_link="rear_sick_imu"
        origin_xyz="-0.3535 0.2520 0.4505"
        origin_rpy="-0.3473 -0.0421 0.5965"
    />

    <!-- Front RealSense D435i (forward facing) - legacy frames/topics preserved -->
    <!-- Parented directly to turret_link; origin composed from the previous
         mount pose so the physical camera placement is unchanged. -->
    <xacro:realsense_d435
        parent_link="turret_link"
        camera_name="camera"
        topic_ns="camera/camera"
        origin_xyz="0.4495 0.1280 0.4600"
        origin_rpy="-0.0015 -0.0295 0.0043"
    />

    <!-- Rear RealSense D435i (back of turret, for localization and mapping) -->
    <!-- TODO: replace origin with the measured pose of the rear camera on turret_link -->
    <xacro:realsense_d435
        parent_link="turret_link"
        camera_name="camera_rear"
        topic_ns="camera_rear"
        origin_xyz="-0.4055 -0.1280 0.4600"
        origin_rpy="0.0021 -0.0295 3.1373"
    />
    <xacro:include filename="robodrill_diffdrive_control.xacro" />

</robot>
